@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 16px;
}
header .left-section a {
  padding-right: 10px;
  font-size: 15px;
}
header .left-section a i {
  width: 40px;
  min-height: 40px;
  line-height: 40px;
  background-color: transparent;
  text-align: center;
  border-radius: 50%;
  color: #0c0b0b;
  transition: 0.5s ease-in;
}
header .left-section a i:hover {
  background-color: #dfdfdf;
}
header .left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .left-section img {
  width: 40px;
  padding-left: 10px;
  border-radius: 50%;
}
header .mid-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .mid-section form {
  width: 515px;
  height: 40px;
  display: flex;
  align-items: center;
}
header .mid-section input {
  width: 100%;
  height: 100%;
  border-radius: 0 40px 40px 0;
  margin-right: 10px;
  border: solid 0.5px #22333369;
  outline: none;
  padding: 10px 15px;
}
header .mid-section button {
  height: 40px;
  width: 64px;
  border-radius: 40px 0 0 40px;
  outline: none;
  border: solid 0.5px #22333369;
  cursor: pointer;
}
header .mid-section .mic {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #dfdfdf;
  margin-right: 10px;
  border-radius: 50px;
}
header .right-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .right-section img {
  width: 40px;
  padding-left: 15px;
}
.content-area {
  height: calc(100vh - 56px);
  display: flex;
}
aside {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 15px;
  height: 100%;
}
aside .box {
  margin-bottom: 10px;
  text-decoration: none;
  color: #0c0b0b;
  padding: 10px 16px;
  font-size: 12px;
}
.active {
  background-color: #dfdfdf;
}
aside .box:hover {
  background-color: #dfdfdf;
}
aside .box span i {
  font-size: 20px;
  padding-right: 10px;
}
aside span {
  margin-right: 10px;
}
hr {
  height: 2px;
  margin: 20px 0;
  background-color: #0c0b0b5e;
}
p {
  padding: 8px 16px;
}
.box {
  display: flex;
  align-items: center;
}
.box img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 15px;
}
.section-video {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-top: solid 2px rgba(117, 117, 117, 0.082);
  overflow-y: auto;
}
.section-video .video-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.section-video .video-box {
  width: 440px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
}
.video-box .image img {
  width: 100%;
}
.video-box .info .title h1 {
  font-size: 20px;
}
.video-box .info .title p {
  font-size: 12px;
  padding: 10px 0 0 0;
}
.video-box .info .image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
}
.video-box .info {
  display: flex;
  margin-top: 10px;
}
